/* .services h3 {
    color: #512f2d;
} */



@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 900px) {
    
    .services .container {
        margin: 1rem;
        padding: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .services  .container {
        align-items: center;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    .services .heading {
        font-size: 16px;
    }
    .services {
        margin: 0px;
    }

   
}

@media screen and (max-width: 350px) {
  
    .services .heading {
        font-size: 1rem;
    }

    .services {
        margin-top: 0px;
        align-items: center;
    }

    .services .container {
        margin: 0px;
    }
}
