.wraper {
    height: 100%;

    padding: 45px 60px;

    background: #d3d2d2;

    flex-direction: row;
}

.g-map iframe {
    max-width: 500px;
}

li {
    display: flex;
    padding: 1rem;
}

.contact-details img {
    width: 16px;
}


@media screen and (max-width:700px) {

     .contact-details {
        font-size: 12px;
        margin-top: 0px;
    }

     .logo img {
        max-width: 116px;
    }

    
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-details li {
        padding: 0.3rem;
        margin-right: 4px;
    }

        .footer ul {
        display: flex;
        justify-content: center;
        font-size: 12px;
        align-items: center;
        margin: 0px;
    }



}

@media screen and (max-width: 350px) {
    .wraper {
        display: flex;
        flex-direction: column;
    }

    .logo img {
        max-width: 116px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-details {
        font-size: 12px;
        margin-top: 0px;
    }

    .contact-details li {
        padding: 0.3rem;
        margin-right: 4px;
    }

    iframe {
        width: 100%;
    }

    .footer ul {
        display: flex;
        justify-content: center;
        font-size: 12px;
        align-items: center;
        margin: 0px;
    }
}
